__pycache__
.venv
*.egg-info
example.png
.DS_Store
jtenv
dimitrienv
dimitri_env_requirements.txt
weights
*.err
*.out
*tmp*

# Generated images and logs
outputs
clip_guided_sd/**/*.png

# vscode files
.vscode
human_preference_dataset/dataset
human_preference_dataset/weights
human_preference_dataset/adapted_model

data
fields_old.py